.courseText {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #2979FF;
    letter-spacing: 0.3px;
  }

.courseBox {
  background: #cdd7f3;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  display: inline-block;
  max-width: 80%;
}

.courseContainer {
  display: flex;
  padding: 0 5%;
  margin-top: 3px;
}

.closeButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #cdd7f3;
  padding: 0px;
  border-radius: 0px;
  display: inline-block;
  border: none;
  width: 100%;
}
